{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
        % {lib_combin, "0.1.1"}
        {lib_combin, "0.1.0", {git, "https://github.com/joergen7/lib_combin.git", {branch, "dev"}}}
       ]}.
{dialyzer, [{warnings, [unmatched_returns, error_handling,
                        race_conditions,
                        overspecs
                       ]},
            {get_warnings, true}]}.