{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [{lib_combin, {git, "https://github.com/joergen7/lib_combin.git", {branch, "master"}}}]}.
{dialyzer, [{warnings, [unmatched_returns,
                        error_handling,
                        underspecs]},
            {plt_extra_apps, [lib_combin]}]}.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
{project_plugins, [covertool, rebar3_efmt]}.
